# Dependencies
node_modules/

# Build outputs
.next/
dist/
build/
out/

# Environment
.env
.env.local
.env.*.local

# VCS
.git
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
.jest/
coverage/
.nyc_output/

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
*.pem

# Docker
Dockerfile
docker-compose.yml
.dockerignore
